* {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}
:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    --font-Monserrat: 'Montserrat', sans-serif;
    --font-Fraunces: 'Fraunces', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
 

body {
    background-color: var(--cream);
}
.container {
    margin: 28px 16px;
    height: 611px;
}
.box-1 img {
    border-radius: 10px 10px 0 0;
    height: auto;
    width: 100%; 
}
.box-2 {
    border-radius: 0 0 10px 10px;
    background-color:var(--white);
    height: 400px;
    transform: translateY(-2px);
}
.box-2 h2 {
    font-family: var(--font-Monserrat);
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0 0 0 24px;
    letter-spacing: 6px;
    opacity: 0.5;
    padding: 25px 0 0 0;
}
.box-2 h3 {
    font-family: var(--font-Fraunces);
    font-size: 3.6rem;
    margin: 10px 0 10px 24px;
}
.box-2 p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    margin: 0 0 30px 0;
    line-height: 1.5;
    letter-spacing: 1px;
    margin: 0 0 24px 24px;
    opacity: 0.5;
}
.container-prices {
    display: flex;
}
.container-prices p {
    color: var(--dark-cyan) ;
    font-family: var(--font-Fraunces);
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.2rem;
    opacity: 1;
    margin: 0 0 20 24px;
}
.container-prices span {
    font-family: var(--font-Monserrat);
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 23px;
    text-decoration: line-through;
    margin: 0 0 0 19px;
    padding: 5px 0 0 0;
    opacity: 0.5;
    
}
.btn {
    display: flex;
    background-color: var(--dark-cyan);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 0  auto;
    width: 88%;
    height: 48px;
}
.btn a {
    font-family: var(--font-Monserrat);
    font-size: 1.4rem;
    line-height: 17px;
    color: var(--white);
    letter-spacing: 1px;
}
.fa-solid {
    color: var(--white);
    font-size: 1.4rem;
    margin: 0 10px 0 0;
}
.attribution {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0 0;
}

@media only screen and (min-width: 480px) {
    .container {
        display: flex;
        width: 100%;
        height: 100vh;
    }
/*
img {
    max-width: 100%;
    max-height: 100%;
    margin-top:  25px;
    border-radius: 10px 10px 0px 0px; 
    
}

h2 {
    font-family: 'Fraunces', serif;
    font-size: 36px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    opacity: 0.5;
    letter-spacing: 6px;
    margin-left: 25px;
    padding-top: 25px;
    
}
button {
    background-color: #3d8168;
    margin: 20px 35px;
    padding: 10px 120px;
}
.pra_1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-left: 25px;
    margin-bottom: 30px;
    opacity: 0.5;
    
}
.card {
    height: 400px;
    background-color: white; 
    transform: translateY(-5px);
    border-radius: 0 0 10px 10px; 

}
.full-price {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
    opacity: 0.5;
    

}
.price {
    color: #3d8168;
    font-family: 'Fraunces', serif;
    font-size: 32px;
    font-weight: bold;
    margin:0 15px 0 25px;
    
}
*/
