* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
@media only screen and (min-width: 375px) {

}
body {
    background-color:#f3eae3;
    margin-left: 20px;
    margin-right: 20px;
}
img {
    max-width: 100%;
    max-height: 100%;
    margin-top:  25px;
    border-radius: 10px 10px 0px 0px; 
    
}

h2 {
    font-family: 'Fraunces', serif;
    font-size: 36px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    opacity: 0.5;
    letter-spacing: 6px;
    margin-left: 25px;
    padding-top: 25px;
    
}
button {
    background-color: #3d8168;
    margin: 20px 35px;
    padding: 10px 120px;
}
.pra_1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-left: 25px;
    margin-bottom: 30px;
    opacity: 0.5;
    
}
.card {
    height: 400px;
    background-color: white; 
    transform: translateY(-5px);
    border-radius: 0 0 10px 10px; 

}
.price {
    font-family: 'Fraunces', serif;
}

